@{
ViewData["Title"] = "Home Page";
}

<div class="col m3 s12">
    <h6>
        Catogary
    </h6>
    <hr>
    <ul class="collection" style="border: 0px;">
        <li class="collection-item">Alvin</li>
        <li class="collection-item">Alvin</li>
        <li class="collection-item">Alvin</li>
        <li class="collection-item">Alvin</li>
    </ul>
</div>