@{
ViewData["Title"] = "Home Page";
}

<div class="col m3 s12">
    <h6>
        Catogary
    </h6>
    <hr>
    <ul class="collection" style="border: 0px;">
        <li class="collection-item">Books</li>
        <li class="collection-item">Cloths</li>
        <li class="collection-item">Home Items</li>
        <li class="collection-item">Stationary</li>
    </ul>

    <hr>
    <h6 style="font-weight: bold;" class=" pink-text">
        Could not find what you want ?
    </h6>

    <div class="input-field col s12 ">
        <select class="icons">
            <option value="" disabled selected>Choose your option</option>
            <option value="" data-icon="https://lorempixel.com/580/250/nature/2">example 1</option>
            <option value="" data-icon="images/office.jpg">example 2</option>
            <option value="" data-icon="images/yuna.jpg">example 3</option>
        </select>
        <button class="btn #b388ff deep-purple accent-1 btn-small  waves-effect waves-light">search</button>
    </div>
</div>
<div class="col m7 s12 offset-m1 ">
    <div class="slider">
        <ul class="slides">
            <li>
                <img src="https://lorempixel.com/580/250/nature/1"> <!-- random image -->
                <div class="caption center-align">
                    <h3>This is our big Tagline!</h3>
                    <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
            </li>
            <li>
                <img src="https://lorempixel.com/580/250/nature/2"> <!-- random image -->
                <div class="caption left-align">
                    <h3>Left Aligned Caption</h3>
                    <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
            </li>
            <li>
                <img src="https://lorempixel.com/580/250/nature/3"> <!-- random image -->
                <div class="caption right-align">
                    <h3>Right Aligned Caption</h3>
                    <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
            </li>
            <li>
                <img src="https://lorempixel.com/580/250/nature/4"> <!-- random image -->
                <div class="caption center-align">
                    <h3>This is our big Tagline!</h3>
                    <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
            </li>
        </ul>
    </div>
</div>