.flower{
    width: 119px;
}
.top-boarder{
    padding: 18px;
}
.transparent{
    background:rgba(0,0,0,0.5);
    border: 0;
    }


   .boarder {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333333;
      }
      
      .boarder li {
        float: left;
      }
      
      .boarder li a {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
      }
      
      .boarder li a:hover {
        background-color:#4db6ac;
      }
      